<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Restaurant Index Around Indonesia.">
    <meta name="theme-color" content="#db0000"/>
    <title>PickyEats Restaurant Apps</title>
    <link href="./icons/icomoon/style.css" rel="stylesheet"> 
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icons/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://restaurant-api.dicoding.dev">
</head>
<body>
    <a href="#herosection" tabindex="0" class="skip-link">Skip To Content</a>
    <header class="app-bar" tabindex="0">
        <div class="app-bar-brand">
            <img width="96" height="96" class="image-brand" src="./icons/icons/icon-96x96.png"  tabindex="0" crossorigin="anonymous" Alt="Brand Icon Picky Eats"/>
        </div>
        <nav id="navigationDrawer" class="app-bar-navigation">
          <ul>
            <li>
                <a href="#/home">
                    <span class="icon-home" aria-hidden="true" tabindex="0"></span>
                    <span class="visuallyhidden"> Home</span>
                </a>
            </li>
            <li>
                <a href="#/like">
                    <span class="icon-heart" aria-hidden="true" tabindex="0"></span>
                    <span class="visuallyhidden"> Favourite</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/hanemath">
                    <span class="icon-user" aria-hidden="true" tabindex="0"></span>
                    <span class="visuallyhidden"> About Us</span>
                </a>
            </li>
          </ul>
        </nav>
        <div class="app-bar-menu">
            <button id="hamburgerButton" aria-label="open hamburger menu" tabindex="0">
                <span class="icon-bars" aria-hidden="true" tabindex="0"></span>
            </button>
        </div>
    </header>

    <main id="mainContent" class="home">
        <!-- content for every page -->
    </main>

    <footer class="footer">
        <p tabindex="0">Copyright &copy; 2020 PickyEats.</p>
    </footer>
</body>
</html>
